@import "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px 150px;
  @include margin30;
  border: 1px solid black;

  .heading-name {
    margin: 0px;
    font-size: xx-large;

    a {
      text-decoration: none;
      color: black;
      justify-content: center;
    }
  }

  .navigation ul {
    display: flex;
    margin-right: 30px;

    @include responsive(tab) {
      margin-right: 0;
    }
    @include responsive(phone) {
      margin-right: 0;
    }

    li {
      display: inline-flex;
      margin: 20px;

      @include responsive(tab) {
        margin-right: 0;
      }
      @include responsive(phone) {
        margin-right: 0;
      }

      a {
        color: black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.heading-title {
  border-collapse: collapse;
  margin: 30px 200px;
  border: 1px solid black;

  table {
    text-align: left;
    padding: 10px;
    color: black;
    background-color: gray;
    width: 100%;

    th {
      text-align: left;
      padding: 10px;
      color: black;
      background-color: gray;
    }
    th:last-child {
      text-align: center;
    }
  }
}

.for-empty-cart {
  text-align: center;
  font-size: 30px;
}

.cart-container {
  border-collapse: collapse;
  margin: 30px 190px;
  border: 1px solid black;

  .parent {
    text-align: left;
    padding: 10px;
    color: black;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;

    .cart-detail {
      display: flex;
      flex-wrap: wrap;
      margin: 10px 2px;
      width: 8%;
      border: 1px solid black;

      @include responsive(tab) {
        padding: 0px;
      }
      @include responsive(phone) {
        padding: 0px;
      }

      a {
        color: red;
        font-size: 12px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      img {
        height: 80px;
        width: 100%;
        margin-right: 5px;
        border: 1px solid black;
      }
    }

    .quantity-input {
      color: black;
    }

    form {
      color: black;
    }

    #subtotal {
      color: black;
    }
  }
}
.total-price {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
