* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 150px;
  border: 1px solid black;
}

@media only screen and (max-width: 1400px) {
  header {
    margin: 20px 20px;
  }
}

@media only screen and (max-width: 900px) {
  header {
    margin: 5px 5px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    margin: 5px 5px;
  }
}

header .heading-name {
  margin: 0px;
  font-size: xx-large;
}

header .heading-name a {
  text-decoration: none;
  color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

@media only screen and (max-width: 900px) {
  header .navigation ul {
    margin-right: 0;
  }
}

@media only screen and (max-width: 600px) {
  header .navigation ul {
    margin-right: 0;
  }
}

header .navigation ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 20px;
}

@media only screen and (max-width: 900px) {
  header .navigation ul li {
    margin-right: 0;
  }
}

@media only screen and (max-width: 600px) {
  header .navigation ul li {
    margin-right: 0;
  }
}

header .navigation ul li a {
  color: black;
  text-decoration: none;
}

header .navigation ul li a:hover {
  text-decoration: underline;
}

.heading-title {
  border-collapse: collapse;
  margin: 30px 200px;
  border: 1px solid black;
}

.heading-title table {
  text-align: left;
  padding: 10px;
  color: black;
  background-color: gray;
  width: 100%;
}

.heading-title table th {
  text-align: left;
  padding: 10px;
  color: black;
  background-color: gray;
}

.heading-title table th:last-child {
  text-align: center;
}

.confirmation-container {
  border-collapse: collapse;
  margin: 30px 300px;
}

.order-container {
  border-collapse: collapse;
  margin: 30px 600px 30px 300px;
}

.order-container .parent {
  text-align: left;
  padding: 5px 20px;
  color: black;
  width: 100%;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1400px) {
  .order-container .parent {
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 900px) {
  .order-container .parent {
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 600px) {
  .order-container .parent {
    padding: 5px 5px;
  }
}

.order-container .parent .cart-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 2px;
  width: 25%;
  border: 1px solid black;
  padding: 3px;
}

@media only screen and (max-width: 1400px) {
  .order-container .parent .cart-detail {
    margin: 5px 2px;
  }
}

@media only screen and (max-width: 900px) {
  .order-container .parent .cart-detail {
    margin: 5px 2px;
  }
}

@media only screen and (max-width: 600px) {
  .order-container .parent .cart-detail {
    margin: 5px 2px;
  }
}

.order-container .parent .cart-detail p {
  font-size: 12px;
}

.order-container .parent .cart-detail img {
  height: 60px;
  width: 100%;
  margin-right: 5px;
  border: 1px solid black;
}

.order-container .parent .quantity-input {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.order-container .parent #item-color {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.order-container .parent #subtotal {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  font-size: 12px;
}

.total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  border: 1px solid black;
  font-size: 12px;
}

.total-price .total {
  height: 100%;
  margin: 20px;
  background-color: #b1afaf;
  padding: 15px;
}
/*# sourceMappingURL=order.css.map */